<div class="comments">
  {{#each this}}
    <section class="comment border-top mt-2">
      <div class="meta">
        {{format_dates created_at}}
      </div>
      <div class="text text-dark bg-light">
        {{text}}
      </div>
    </section>
  {{/each}}
</div>