<article class="products">
  <div class="products">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        {{this.title}}
      </li>
      <li class="list-group-item">
        {{this.description}}
      </li>
      <li class="list-group-item">
        {{this.price}}
      </li>
      <li class="list-group-item">
        {{this.img_link}}
      </li>
    </ul>
  </div>
</article>