<article class="products">
  <div class="products">
    <ul>
      <li>
        {{this.title}}
      </li>
      <li>
        {{this.description}}
      </li>
      <li>
        {{this.price}}
      </li>
      <li>
        {{this.img_link}}
      </li>
      {{> comments}}
    </ul>
  </div>
</article>