<h2> <article class="products"> {{this.title}} </h2>
    <div>
        <ul>
            <li> 
             {{this.img_link}}
            </li>
            <li>
             {{this.description}}
            </li>
            <li>
             {{this.price}}
            </li>
        </ul>
    <button type="submit">Save Product</button>
    <button type="button" class="delete-post-btn">Delete Product</button>
    </div>