<section>
  <div class='flex column'>
    <div class='flex column m1'>
      <label htmlFor='username'>Username</label>
      <input type='text' name='username' class='input' id='username-signup'/>
    </div>
    <div class='flex column m1'>
      <label htmlFor='first name'>First Name</label>
      <input type='text' name='first name' class='input' id='first name-signup'/>                    
    </div>
    <div class='flex column m1'>
      <label htmlFor='last name'>Last Name</label>
      <input type='text' name='last name' class='input' id='last name-signup'/>
    </div>
    <div class='flex column m1'>
      <label htmlFor='email'>Email</label>
      <input type='email' name='email' class='input' id='email-signup'/>
    </div>
    <div class='flex column m1'>
      <label htmlFor='password'>Create Password</label>
      <input type='password' name='password' class='input' id='password-signup1'/>
    </div>
    <div class='m1'>
      <button type='submit' class='btn bg-blue white p1 rounded'>Submit</button>
    </div>
  </div>

  <form class="new-product-form">
    <div>
      <label for="product-title">Title</label>
      <input type="text" id="product-title" name="product-title" />
    </div>
     <div>
      <label for="product-description">Description</label>
      <input type="text" id="product-description" name="product-description" />
    </div>
      <div>
      <label for="product-price">Price</label>
      <input type="text" id="product-price" name="product-price" />
    </div>
    <div>
      <label for="product-url">Image Link</label>
      <input id="product-url" name="product-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<section>
  <h2>Your products</h2>
  <ol>
    {{#each products}}
    <li>
      {{> product-info this}}
      <a href="/profile/edit/{{this.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
<script src="/js/add-product.js"></script>


