{{> product-info products}}

  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">add comment</button>
      <button type="button" class="upvote-btn">upvote</button>
    </div>
  </form>
  {{> comments products.comments}}
<script src="/js/comment.js"></script>
<script src="/js/logout.js"></script>