{{> product-info products}} 

  <form class="comment-form">
    <div class="mt-2">
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class="btn bg-dark text-white">add comment</button>
      <button type="button" class="upvote-btn btn bg-dark text-white">upvote</button>
    </div>
  </form>
  {{> comments products.comments}}
<script src="/js/comment.js"></script>
<script src="/js/logout.js"></script>